# Consolidate all Hugues Clouâtre identities to primary email
Hugues Clouâtre <hugues@linux.com> <15008125+huguesclouatre@users.noreply.github.com>
Hugues Clouâtre <hugues@linux.com> <hugues.clouatre@slalom.com>
Hugues Clouâtre <hugues@linux.com> <15008125+clouatre@users.noreply.github.com>
Hugues Clouâtre <hugues@linux.com> <hugues+mcp@linux.com>
